pandas
openai
uvicorn
fastapi
selenium
numpy
langchain
langchain-community
langchain-core
sentence_transformers
chromadb
websocket-client
websockets
pymongo
beautifulsoup4
googlesearch-python
tiktoken
faiss-cpu
psycopg2-binary
apache-age-python
langchain==0.3.20
langchain_openai
langgraph
langgraph-checkpoint-sqlite